@model TravisMovieRatings.Models.MovieViewModel

@{
    ViewData["Title"] = "Add Movie";
}

<h1>Add Review</h1>

<hr />
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <form asp-action="Create">
            <div class="text-info">@ViewBag.AddProductErrorMessage</div>
            <div class="form-group hide-content">
                <label asp-for="ImdbId" class="control-label"></label>
                <input id="imdbId-input" asp-for="ImdbId" class="form-control" readonly />
                <span asp-validation-for="ImdbId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input id="genre-input" asp-for="Genre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input id="viewer-rating" asp-for="Rating" class="form-control" placeholder="Enter a rating from 1 to 10" min="1" max="10" disabled />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="ReviewHeading" class="control-label"></label>
                <input id="review-heading-input" asp-for="ReviewHeading" class="form-control" disabled />
                <span asp-validation-for="ReviewHeading" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="ReviewComments" class="control-label"></label>
                <textarea id="review-comments-input" asp-for="ReviewComments" class="form-control" rows="8" disabled></textarea>
                <span asp-validation-for="ReviewComments" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-3">
                <input type="submit" value="Add Review" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mb-5">
        <div class="row mb-3 search-container">
            <div class="search-element">
                <h4>Find movie by title</h4>
                <div id="error-loading-movies-by-title" class="text-info"></div>
                <input type="text" id="search-text" placeholder="Enter Movie Title" onkeyup="searchMovies()" onclick="searchMovies();" />
                <div id="movie-items">
                </div>
            </div>
        </div>

        <!-- This container is for displaying the movies from a movie title search -->
        <div class="row justify-content-around" id="movie-cards-container"></div>

        <!-- This is for displaying a selected movie -->
        <div class="row justify-content-start hide-content" id="movie-details-container">
            <div class="col-sm-12 col-md-8 col-lg-4">
                <img src="" id="movie-details-poster-image" />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
                <p id="movie-title"></p>
                <p> <!-- Example Content:  2002 • 121 min • PG-13 -->
                    <span id="product-year"></span>
                    &#x2022; <!-- Bullet Point -->
                    <span id="runtime"></span>
                    &#x2022; <!-- Bullet Point -->
                    <span id="rated"></span>
                </p>
                <p id="genre"></p>

                <p id="plot" class="plot"></p>

                <div class="left-label">@Html.DisplayNameFor(model => model.Director)</div>
                <div id="director" class="right-value mb-1"></div>

                <div class="left-label">@Html.DisplayNameFor(model => model.Actors)</div>
                <div id="actors" class="right-value mb-1"></div>

                <div class="left-label">@Html.DisplayNameFor(model => model.Language)</div>
                <div id="language" class="right-value"></div>

                <div class="left-label">@Html.DisplayNameFor(model => model.Type)</div>
                <div class="right-value" id="product-type"></div>

                <!-- Room from bottom of page -->
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

@section head {
    <link rel="stylesheet" href="~/css/MovieCreate.css">
    <link rel="stylesheet" href="~/css/MovieDescription.css">
}

@section Scripts {
    <script src="~/js/MoviesCreate.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
