@model TravisMovieRatings.Models.MovieViewModel

@{
    ViewData["Title"] = "Edit Review";
}

<div class="row mb-2">
    <div class="col-12">
        <h1 id="movie-title">@Model.Title</h1>
    </div>
</div>
<div class="row justify-content-start" id="movie-details-container">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <form asp-action="Edit">
            <div class="text-info">@ViewBag.ErrorMessage</div>
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>  TODO: Delete original code? *@

            @* Cannot delete or disable this MovieId UI or the movieId will not be included in the form result.
               Movie Id in the form result is required to save any updates.
            *@
            <div class="form-group hide-content">
                <label asp-for="MovieId" class="control-label"></label>
                <input asp-for="MovieId" class="form-control" readonly />
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>

            <div class="form-group hide-content">
                <label asp-for="ImdbId" class="control-label"></label>
                <input asp-for="ImdbId" class="form-control" readonly />
                <span asp-validation-for="ImdbId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" placeholder="Enter a rating from 1 to 10" min="1" max="10" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ReviewHeading" class="control-label"></label>
                <input asp-for="ReviewHeading" class="form-control" />
                <span asp-validation-for="ReviewHeading" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ReviewComments" class="control-label"></label>
                <textarea id="review-comments" asp-for="ReviewComments" class="form-control" rows="5"></textarea>
                <span asp-validation-for="ReviewComments" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
@* <!-- TODO: Remove obsolete. Use can use menu to navigate back to list. -->
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
*@
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8">
        <div class="row justify-content-start" id="movie-details-container">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <img src="@Model.Poster" id="movie-details-poster-image"/>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <p>
                    <!-- Example Content:  2002 • 121 min • PG-13 -->
                    <span id="year-released">@Model.Year</span>
                    &#x2022; <!-- Bullet Point -->
                    <span id="runtime">@Model.Runtime</span>      @*TODO: add @Model.Runtime to the MovieViewModel*@
                    &#x2022; <!-- Bullet Point -->
                    <span id="rated">@Model.Rated</span>
                </p>
                <p id="genre">@Model.Genre</p>

                <p class="plot">@Model.Plot</p>

                <div class="left-label">@Html.DisplayNameFor(model => model.Director)</div>
                <div class="right-value mb-1">@Html.DisplayFor(model => model.Director)</div>

                <div class="left-label">@Html.DisplayNameFor(model => model.Actors)</div>
                <div class="right-value mb-1">@Html.DisplayFor(model => model.Actors)</div>

                <div class="left-label">@Html.DisplayNameFor(model => model.Language)</div>
                <div class="right-value mb-1">@Html.DisplayFor(model => model.Language)</div>

                <div class="left-label">@Html.DisplayNameFor(model => model.Type)</div>
                <div class="right-value mb-1">@Html.DisplayFor(model => model.Type)</div>
            </div>
        </div>
    </div>
</div>

@section head {
    <link rel="stylesheet" href="~/css/Movies/EditReview.css">
    <link rel="stylesheet" href="~/css/Movies/Shared/MovieDescription.css">
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
