@model IEnumerable<TravisMovieRatings.Models.MovieViewModel>

@{
    ViewData["Title"] = "Manage Reviews";
}

<h1>Manage Reviews</h1>

<div class="text-info">@ViewBag.ErrorMessage</div>

<p>
    <a asp-action="Create">Add Movie Review</a>
</p>

<div class="table-responsive">
    @*
    The DataTables Base Style document explains all these classes in a minimal summary description
    at https://datatables.net/examples/styling/display.html.
    DataTables stripe class described at https://datatables.net/examples/styling/stripe.html
    DataTables hover class described at https://datatables.net/examples/styling/hover.html
    DataTables cell-border class described at https://datatables.net/examples/styling/cell-border.html
    DataTables order-column class described at https://datatables.net/examples/styling/order-column.html
    *@
    <table id="movies-table" class="table stripe hover cell-border order-column">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MovieId" class="btn btn-primary btn-sm mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-action="Details" asp-route-movieId="@item.MovieId" class="btn btn-primary btn-sm mx-2">
                            <i class="bi bi-zoom-in"></i> Details
                        </a>
                        <a href=""
                           onclick="confirmDeleteMovie(event, '@Url.Action("Delete", "Movies", new { id = item.MovieId })')"
                           class="btn btn-primary btn-sm mx-2">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/js/confirmDeleteMovie.js"></script>


    <script type="text/javascript">
        // Initialize the table look and behavior using DataTables
        $(document).ready(function () {
            $('#movies-table').DataTable({
                pageLength: 5,          // Set the initial number of rows to display
                lengthMenu: [5, 10, 20, 50, 100], // Define the options for the number of rows the user can choose to display
                order: [[0, 'asc']],    // Sort by the first column (Title) in ascending order

                // Define properties for specific columns
                columnDefs: [
                    {
                        targets: [3],       // Apply these properties to the column at index 3 (0-based index)
                        orderable: false,   // Disable sorting for this column
                        searchable: false   // Exclude this column from the search
                    }
                ],
                language: {
                    search: "Filter: ",     // Change the label for the search input
                    searchPlaceholder: "Search for a movie title",
                },

                // The stateSave option enables the table to remember its state (like pagination position,
                // display length, filtering, and sorting) using the options and searches applied by the
                // user. This state is saved across sessions using a cookie. This state saving
                // will not be available if a user switches to a different browser or device.
                stateSave: true,
            });
        });
    </script>
}